.roll, .bet {
    width: 996px;
}

.btn-success{
    width: 80px;
}
.w-1 {
    width: 100px;
}
.h-1 {
    width: 100px;
}
.w-2 {
    width: 150px;
}
.h-2 {
    height: 150px;
}
.item-count {
    position: relative;
}
.item-count span{
    position:absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}
.text {
    font-weight: bold;
    font-size: 30px;
}